<p style="color: green"><%= notice %></p>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
      <p>See all <%= @flats.length.to_i %> flats</p>
    </div>
  </div>
    <div class="flat-grid">
      <% @flats.each do |flat| %>
        <%= render flat %>
      <% end %>
  </div>
</div>
